{{ define "content" }}
<form action="/contacts" method="get">
    <fieldset>
        <legend>Contact Search</legend>
        <p>
            <label for="search">Search Term</label>
            <input id="search" type="search" name="q" value="{{ .Term }}" />
            <input type="submit" value="Search" />
            <span class="message">{{ .Message }}</span>
            <a href="/contacts">{{ .Reset }}</a>
        </p>
    </fieldset>
</form>

<table>
    <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Commands</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Contacts }}
        <tr>
            <td>{{ .First }}</td>
            <td>{{ .Last }}</td>
            <td><a href="tel:{{ .Phone }}">{{ .Phone }}</a></td>
            <td><a href="mailto:{{ .Email }}">{{ .Email }}</a></td>
            <td>
                <a href="/contacts/{{ .Id }}">View</a>
                <a href="/contacts/{{ .Id }}/edit">Edit</a>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>

<div>
    <span style="float:right">
        {{ if .Page > 1 }}
        <a href="/contacts?page={{ .Page - 1 }}">Previous</a>
        {{ end }}
        {{ if .ContactsCount == 10 }}
        <a href="/contacts?page={{ page + 1 }}">Next</a>
        {{ end }}
    </span>
</div>

<p>
    <a href="/contacts/new">Add Contact</a>
</p>
{{ end }}
