{{ define "index" }}
    {{ template "layout.html" . }}
{{ end }}

{{ define "content" }}
{{ template "archive" . }}

<form action="/contacts" method="get">
    <fieldset>
        <legend>Contact Search</legend>
        <div>
            <label for="search">Search Term</label>
            <input id="search" type="search" name="q" value="{{ .Term }}"
                hx-get="/contacts"
                hx-trigger="search, keyup delay:400ms changed"
                hx-target="tbody"
                hx-push-url="true"
                hx-indicator="#searching"
                _="on keydown[altKey and code is 'KeyS'] from the window focus() me"/>
            <img id="searching" class="htmx-indicator"
                src="/image/search.gif"
                alt="Sniffing it out..."/>
        </div>
        <input type="submit" value="Search" />
    </fieldset>
</form>

<form>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>First</th>
                <th>Last</th>
                <th>Phone</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{ template "rows" . }}
        </tbody>
    </table>
    <button hx-delete="/contacts"
        hx-confirm="Are you sure you want to delete the selected contacts?"
        hx-target="body">
        Delete Selected Contacts
    </button>
</form>

<div>
    <button hx-get="/contacts/new"
        hx-target="body"
        hx-push-url="true">
        Add Contact
    </button>
    <span class="message"
        hx-get="/contacts/count"
        hx-trigger="revealed">
        <img id="spinner" class="htmx-indicator"
            src="/image/search.gif" />
    </span>
</div>

<hr>

<div hx-sync="#counter-example:drop" hx-target="#counter-example">
    <button hx-get="/counter/js">Vanilla JS Counter</button>
    <button hx-get="/counter/alpine">Alpine.JS Counter</button>
    <button hx-get="/counter/hs">_hyperscript Counter</button>
</div>

<div id="counter-example" hx-get="/counter/js" hx-trigger="load"></div>
{{ end }}

{{ define "archive" }}
<div id="archive-ui"
    hx-target="this"
    hx-swap="outerHTML">
    <button hx-post="/contacts/archive">
        Download Contact Archive
    </button>
</div>
{{ end }}

{{ define "archive-running" }}
<div id="archive-ui"
    hx-target="this"
    hx-swap="outerHTML">
    <div hx-get="/contacts/archive" hx-trigger="load delay:500ms">
        Creating archive...
        <div class="progress">
            <div id="archive-progress" class="progress-bar" role="progressbar"
            aria-valuenow="{{ .Progress }}" style="width:{{ .Progress }}%"></div>
        </div>
    </div>
</div>
{{ end }}

{{ define "archive-complete" }}
<div id="archive-ui"
    hx-target="this"
    hx-swap="outerHTML">
    <a hx-boost="false" href="/contacts/archive/file"
        _="on load click() me">
        Archive Ready! Download File!
    </a>
    <button hx-delete="/contacts/archive">Reset Archive</button>
</div>
{{ end }}

{{ define "js-counter" }}
<h3>Vanilla JavaScript Counter</h3>
<section data-counter>
    <output data-counter-output>0</output>
    <button data-counter-increment>Increment</button>
</section>
<script>
    document.querySelectorAll("[data-counter]")
        .forEach(el => {
            const
                output = el.querySelector("[data-counter-output]"),
                increment = el.querySelector("[data-counter-increment]");

            increment.addEventListener("click", e => output.textContent++);
        });
</script>
{{ end }}

{{ define "alpine-counter" }}
<h3>Alpine.JS Counter</h3>
<section x-data="{ count: 0 }">
    <output x-text="count"></output>
    <button x-on:click="count++">Increment</button>
</section>
{{ end }}

{{ define "hs-counter" }}
<h3>_hyperscript Counter</h3>
<section>
    <output>0</output>
    <button _="on click increment the textContent of the previous <output/>">
        Increment
    </button>
</section>
{{ end }}