{{ define "content" }}
<form action="/contacts" method="get">
    <fieldset>
        <legend>Contact Search</legend>
        <p>
            <label for="search">Search Term</label>
            <input id="search" type="search" name="q" value="{{ .Term }}"
                hx-get="/contacts"
                hx-trigger="search, keyup delay:400ms changed"
                hx-target="tbody"
                hx-select="tbody tr" />
            <input type="submit" value="Search" />
            <span class="message">{{ .Message }}</span>
            <a href="/contacts">{{ .Reset }}</a>
        </p>
    </fieldset>
</form>

<table>
    <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Commands</th>
        </tr>
    </thead>
    <tbody>
        {{ block "rows" . }}
        {{ end }}
    </tbody>
</table>

<div>
    <a href="/contacts/new">Add Contact</a>
</div>
{{ end }}