<!doctype html>
<html lang="en">
    <head>
        <title>contact.app :: {{ .Title }}</title>
        <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
        <script src="/lib/htmx.js"></script>
        <script src="/lib/_hyperscript.js"></script>
        <script src="/lib/Alpine.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" href="/css/site.css" />
    </head>
    <body hx-boost="true">
        <div class="centre">
            <h1><a href="/contacts">contact.app</a></h1>
            <h2>a digital rolodex on <i>your</i> personal computer!</h2>
        </div>
        <hr />
        {{ template "content" . }}
        <hr />
        <div class="centre">
            <div>
                <img src="/image/computer.gif" alt="Itchy & Scratchy" />
            </div>
            <div>
                <img src="/image/notepad.gif" alt="Created with Notepad" />
                <img src="/image/netscape.gif" alt="Netscape" />
                <img src="/image/ie.gif" alt="Internet Explorer" />
                <img src="/image/noframes.gif" alt="Campaign Against Frames" />
                <img src="/image/htmx.gif" alt="Created with HTMX" />
            </div>
            <div class="cs">
                <span class="counter">{{ .Counter }}</span>
                visitors so far!
            </div>
        </div>
    </body>
</html>