{{ define "rows" }}
    {{ range .Contacts }}
    <tr>
        <td>
            <input type="checkbox" name="selected_contact_ids" value="{{ .Id }}">
        </td>
        <td>{{ .First }}</td>
        <td>{{ .Last }}</td>
        <td><a href="tel:{{ .Phone }}">{{ .Phone }}</a></td>
        <td><a href="mailto:{{ .Email }}">{{ .Email }}</a></td>
        <td>
            <div data-overflow-menu>
                <button type="button" aria-haspopup="menu"
                    aria-controls="contact-menu-{{ .Id }}"
                    _="on click toggle @hidden on #contact-menu-{{ .Id }}">
                    Options
                </button>
                <div role="menu" hidden id="contact-menu-{{ .Id }}">
                    <a role="menuitem" href="/contacts/{{ .Id }}/edit">Edit</a>
                    <a role="menuitem" href="/contacts/{{ .Id }}">View</a>
                    <a role="menuitem" href="#" hx-delete="/contacts/{{ .Id }}"
                        hx-swap="outerHTML swap:1s"
                        hx-confirm="Are you sure you want to delete this contact?"
                        hx-target="closest tr">
                        Delete
                    </a>
                </div>
            </div>
        </td>
    </tr>
    {{ end }}
    <tr>
        {{ if .Search }}
            <button hx-get="/contacts"
                hx-target="body"
                hx-push-url="true">
                Clear
            </button>
        </td>
        {{ else }}
        <td colspan="6" style="text-align: center;">
            {{ if .HasNextPage }}
            <button hx-target="closest tr"
                hx-swap="outerHTML"
                hx-select="tbody > tr"
                hx-get="/contacts?page={{ .NextPage }}">
                Load more...
            </button>
            {{ end }}
        </td>
        {{ end }}
    </tr>
{{ end }}
