{{ define "rows" }}
    {{ range .Contacts }}
    <tr>
        <td>{{ .First }}</td>
        <td>{{ .Last }}</td>
        <td><a href="tel:{{ .Phone }}">{{ .Phone }}</a></td>
        <td><a href="mailto:{{ .Email }}">{{ .Email }}</a></td>
        <td>
            <a href="/contacts/{{ .Id }}/edit">Edit</a>
            <a href="/contacts/{{ .Id }}">View</a>
            <a href="#" hx-delete="/contacts/{{ .Id }}"
                hx-swap="outerHTML"
                hx-confirm="Are you sure you want to delete this contact?"
                hx-target="closest tr">Delete</a>
        </td>
    </tr>
    {{ end }}
    <tr>
        {{ if .Search }}
            <button hx-get="/contacts"
                hx-target="body"
                hx-push-url="true">
                Clear
            </button>
        </td>
        {{ else }}
        <td colspan="5" style="text-align: center;">
            {{ if .HasNextPage }}
            <button hx-target="closest tr"
                hx-swap="outerHTML"
                hx-select="tbody > tr"
                hx-get="/contacts?page={{ .NextPage }}">
                Load more...
            </button>
            {{ end }}
        </td>
        {{ end }}
    </tr>
{{ end }}
