{{ define "rows" }}
    {{ range .Contacts }}
    <tr>
        <td>
            <input type="checkbox" name="selected_contact_ids" value="{{ .Id }}">
        </td>
        <td>{{ .First }}</td>
        <td>{{ .Last }}</td>
        <td><a href="tel:{{ .Phone }}">{{ .Phone }}</a></td>
        <td><a href="mailto:{{ .Email }}">{{ .Email }}</a></td>
        <td>
            <div data-overflow-menu></div>
                <button type="button" aria-haspopup="menu"
                    aria-controls="contact-menu-{{ .Id }}">
                    Options
                </button>
                <div role="menu" hidden id="contact-menu-{{ .Id }}">
                    <a role="menuitem" href="/contacts/{{ .Id }}/edit">Edit</a>
                    <a role="menuitem" href="/contacts/{{ .Id }}">View</a>
                    <a role="menuitem" href="#" hx-delete="/contacts/{{ .Id }}"
                        hx-swap="outerHTML swap:1s"
                        hx-confirm="Are you sure you want to delete this contact?"
                        hx-target="closest tr">
                        Delete
                    </a>
                </div>
            </div>
        </td>
    </tr>
    {{ end }}
    <tr>
        {{ if .Search }}
            <button hx-get="/contacts"
                hx-target="body"
                hx-push-url="true">
                Clear
            </button>
        </td>
        {{ else }}
        <td colspan="6" style="text-align: center;">
            {{ if .HasNextPage }}
            <button hx-target="closest tr"
                hx-swap="outerHTML"
                hx-select="tbody > tr"
                hx-get="/contacts?page={{ .NextPage }}">
                Load more...
            </button>
            {{ end }}
        </td>
        {{ end }}
    </tr>
    <script>
        function overflowMenu(subtree = document) {
            subtree.querySelectorAll("[data-overflow-menu]").forEach(menuRoot => {
                const
                button = menuRoot.querySelector("[aria-haspopup]"),
                menu = menuRoot.querySelector("[role=menu]"),
                items = [menu.querySelectorAll("[role=menuitem]")];

                const isOpen = () => !menu.hidden;

                items.forEach(item => item.setAttribute("tabindex", "-1"));

                function toggleMenu(open = !isOpen()) {
                if (open) {
                    menu.hidden = false;
                    button.setAttribute("aria-expanded", "true");
                    items[0].focus();
                } else {
                    menu.hidden = true;
                    button.setAttribute("aria-expanded", "false");
                }
                }

                toggleMenu(isOpen());
                button.addEventListener("click", () => toggleMenu());
                menuRoot.addEventListener("blur", e => console.log(e) || toggleMenu(false));

                window.addEventListener("click", function clickAway(event) {
                if (!menuRoot.isConnected) window.removeEventListener("click", clickAway);
                if (!menuRoot.contains(event.target)) toggleMenu(false);
                })

                const currentIndex = () => {
                const idx = items.indexOf(document.activeElement);
                if (idx === -1) return 0;
                return idx;
                }

                menuRoot.addEventListener("keydown", e => {
                    if (e.key === "ArrowUp") {
                        items[currentIndex() - 1]?.focus();
                    } else if (e.key === "ArrowDown") {
                        items[currentIndex() + 1]?.focus();
                    } else if (e.key === "Space") {
                        items[currentIndex()].click();
                    } else if (e.key === "Home") {
                        items[0].focus();
                    } else if (e.key === "End") {
                        items[items.length - 1].focus();
                    } else if (e.key === "Escape") {
                        toggleMenu(false);
                        button.focus();
                    } else if (e.key === "Tab") {
                        toggleMenu(false);
                    }
                })
            })
            }

            addEventListener("htmx:load", e => overflowMenu(e.target));
    </script>
{{ end }}
