body {
    background-image: url("/image/bg.gif");
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

.centre {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.required::after {
    content: "*";
    font-weight: bold;
    color: red;
}

.counter {
    padding-inline: 4px;
    align-self: center;
    width: fit-content;
    background-color: #000000;
    color: #2cff00;
    font-family: "Comic Sans", Courier, monospace;
    font-size: x-large;
    font-weight: bold;
    border: 2px solid #fb0702;
}

.cs {
    font-family: "Comic Sans", Courier, monospace;
    font-size: x-large;
    font-weight: bold;
}

.card {
    padding: 12px;
    align-self: center;
    width: fit-content;
    background-color: #eeeeee;
    border: 1px solid #000000;
}

.space {
    font-weight: bold;
    padding-top: 1ch;
}

.danger {
    color: red;
}

.error {
    display: inline-block;
    color: darkred;
}

tr.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}