body {
    background-image: url("/static/image/bg.gif");
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

.centre {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.required::after {
    content:"*";
    font-weight:bold;
    color:red;
}

.counter {
    padding-inline:4px;
    align-self: center;
    width: fit-content;
    background-color: #000000;
    color: #2CFF00;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bold;
    border: 2px solid #FB0702;
}

.card {
    padding: 12px;
    align-self: center;
    width: fit-content;
    background-color: #eeeeee;
    border: 1px solid #000000;
}

.space {
    font-weight: bold;
    padding-top: 1ch;
}