{{ define "title" }}contacts.app{{ end }}

{{ define "body" }}
<form action="/contacts" method="get">
    <fieldset>
        <legend>Contact Search</legend>
        <p>
            <label for="search">Search Term</label>
            <input id="search" type="search" name="q" value=''/>
        </p>
        <p>
            <input type="submit" value="Search"/>
        </p>
    </fieldset>
</form>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First</th>
        <th>Last</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{ range .Contacts }}
        <tr>
            <td>{{ .Id }}</td>
            <td>{{ .First }}</td>
            <td>{{ .Last }}</td>
            <td><a href="tel:{{ .Phone }}">{{ .Phone }}</a></td>
            <td><a href="mailto:{{ .Email }}">{{ .Email }}</a></td>
            <td><a href="/contacts/{{ .Id }}/edit">Edit</a></td>
        </tr>
    {{ end }}
    </tbody>
</table>

<p>
    <a href="/contacts/new">Add Contact</a>
</p>
{{ end }}